<!DOCTYPE html>
{% extends 'portfolio/base.html' %}
{% block content %}
    <html>
    <head>
        <meta charset="UTF-8">
        <title>Asset Management</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    </head>
    <body>
    <style>
        body {
            background-color: beige;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Welcome!</div>
                    <div class="panel-body">
                        Asset Management, your Midwest Asset Management Partner.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 style="padding-left: 15Px">Asset Information</h2>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr class="bg-info">
                <th>Customer Number</th>
                <th>Make</th>
                <th>Model</th>
                <th>Serial Number</th>
                <th>Category</th>
                <th>Description</th>
                <th>Value</th>
                <th>Date</th>
                <th colspan="3">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for asset in assets %}
                <tr>
                    <td>{{ asset.customer }}</td>
                    <td>{{ asset.make }}</td>
                    <td>{{ asset.model }}</td>
                    <td>{{ asset.serial_number }}</td>
                    <td>{{ asset.category }}</td>
                    <td>{{ asset.description }}</td>
                    <td>{{ asset.value }}</td>
                    <td>{{ asset.date }}</td>
                    <td><a href="{% url 'portfolio:asset_edit' pk=asset.pk %}"
                           class="btn btn-warning">Edit</a></td>

                    <td><a href="{% url 'portfolio:asset_delete' pk=asset.pk %}"
                           onclick="return confirm('Are you sure you want to delete?')"
                           class="btn btn-danger">Delete</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
     <div class="row">
         <a href="{% url 'portfolio:asset_new' %}" class="row"><span
                    class="btn btn-primary">Add Asset</span></a>
     </div>
        </div>
    </div>
    </body>
    </html>
{% endblock %}
